# root
env.env
.env
.env.local

# frontend
web-app/node_modules/
web-app/dist/
web-app/package-lock.json
web-app/package.json

# backend (por si luego aplica)
core-service-api/node_modules/
core-service-api/dist/
